In [1]:
#Bahasan 1 perintah dasar yang umum dipake adalah bagaimana menampilkan informasi kedalam layar
#karena prinsip dasar membuat aplikasi di komputer harus memenuhi 3 faktor :
#1 Input --> diwakili oleh keyboard di pc (laptop,pc) 
#2 Processor --> diwakili oleh CPU (PC terpisah antara layar, cpu, keyboard) processor itu adalah CPU
#3 Output --> diwakili oleh monitor / printer

#Pengenalan perintah print dan variable
#

#1 Keluarkan di layar monitor anda nama anda masing-masing 
print('Sony Setiawan')

Sony Setiawan

In [3]:
#2 keluarkan di layar monitor berapa umur kamu sekarang
print(48)

48

In [4]:
#di 2 contoh diatas ada 2 buah data yang mempunyai type data berbeda yang 1 adalah string atau character 
#yang satu lagi adalah integer numeric atau angka 
#sebagai contoh kita coba dengan menggunakan excel untuk melihat seperti apa type data angka dan character
#Kedua type data ini tidak bisa digabungkan atau tidak bisa langsung digabungkan seperti contoh di excel tadi kenapa ?
#Karena mempunyai bentukan di dalam komputer dengan type format yang berbeda 
#https://www.nesabamedia.com/pengertian-tipe-data/
import sys
sys.getsizeof('Aku lagi disini, kamu lagi dimana ? :)') #buat contoh untuk beberapa data

87

In [9]:
sys.getsizeof(1600000000000) #buat contoh untuk beberapa data

32

In [14]:
#informasi diatas sebagai informasi bahwa type data dibahasa pemograman penting untuk dipahami diawal sebagai awal
#mula dalam proses mempelajari coding, ini menjadi cikal bakal literasi coding

#3 assigning variable
namaorang = 'Sony Setiawan'
print(namaorang)
print(namaorang + ' 48')

Sony Setiawan
Sony Setiawan 48

In [15]:
kalimat = 'Aku lagi disini, kamu lagi dimana ? :)'
print(kalimat)

Aku lagi disini, kamu lagi dimana ? :)

In [16]:
#tugas

In [17]:
#Buat variable namaorang isinya nama kalian kemudian buat baris

In [18]:
#baru menampilkan variable alamat yang isinya alamat kalian
namaorang = 'Sony Setiawan'
alamat = 'Karawaci'
print(namaorang)
print(alamat)

Sony Setiawan
Karawaci